.box{
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgb(88, 85, 85);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family:cursive;
   color: rgb(212, 212, 40);
   text-shadow: 10%;
  cursor: pointer;
  background-color: white;
 
}
.box:hover{
  box-shadow: 0px 0px 16px rgb(88,85 ,85);
}
.Board{
  display: flex;
  justify-content: center;
  
}
.h1{
  justify-content: center;
  display: flex;

  
}
.reset{
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  border:none;
  border-radius: 50%;
  

}
#reset{
  border:none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(88, 85, 85);
  
}
#reset:hover{
  box-shadow: 0px 0px 16px rgb(88,85 ,85);
}